# TypeScript input
src/
tsconfig.json

# VS Code
.vscode/

# Logs
logs
*.log
npm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# TypeScript cache
*.tsbuildinfo

# ESLint
eslint.config.js

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.env.test
